<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posture Estimation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='script/script.js') }}" async></script>
</head>
<body>
    <h1>Posture Estimation</h1>
    <button id="start">start</button>
    <button id="stop">stop</button>
    <div id="video">
        <img id='frame' src="{{ url_for('static', filename='images/swe.png') }}" ></img>
    </div>
</body>
</html>
